/* Main */

	html,body{
		width: 100%;
		height: 100%;
	}


/* Product */
	
	#product{
		width: 100%;
		height: 100%;
		margin-left: 15%;
		margin-right: 15%;
	}

	#product div{
		display: inline-block;
	}

	#product p{
		margin-top: 2%;
		margin-bottom: 3%;
	}

	#product a:hover {
		background: black;
		color: white;
		cursor: pointer;
	}

	#product a.button{
		display:inline-block;
		font-size: 14px;
		border: 1px solid black;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 2%;
		padding-bottom: 2%;
	}

	#product a.sizeButton{
		display:inline-block;
		font-size: 14px;
		border: 1px solid black;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 1.5%;
		padding-bottom: 1.5%;
		margin-bottom: 3%;
	}

/*ProductImage*/

	#productImage{
		width: 50%;
	}

	#productImage img {
		width : 60%;
	}

/*ProductInformation*/
	#productInformation{
		width: 45%;
		vertical-align: top;
		margin-top: 10%;
	}
	#productInformation > *{
		display: block;
	}

/*ProductName*/
	#productName{
		font-weight: bolder;
		font-size: 20px;
	}

/*ProductPrice*/
	#productPrice{
		display:inline-block;
		width: 32%;
		border-bottom: 1px black solid;
		margin-bottom: 3%;
	}

/*ProductColorDiv*/
	#productColorDiv{
		display:inline-block;
		float: left;
		width: 20%;
	}

/*ProductSizeDiv*/
	#selectSizeDiv{
		display:inline-block;
		float: right;
		width: 80%;
	}

/*Color*/
	#color{
		display: inline-block;
		border: 1px solid black;
		font-size: 14px;
		margin-top: 2%;
		margin-bottom: 3%;
	}

/*ProductColor*/
	div.productColor{
		background-color: green;
		width: 20px;
		height: 20px;
		margin-top: 5%;
		margin-bottom: 3%;
	}

	div.productColor:active {
		border: 1px solid black;
		background-color: yellow;
	}


/*Productquantity*/
	#productQuantity{
		margin-bottom: 3%;
	}

	#productQuantity a{
		display: inline-block;
		height: 25px;
		text-align: center;
		width: 4%;
		background: gray;
		vertical-align: top;
		cursor: pointer;
		line-height: 20px;
	}

	#itemQuantity{
		width: 5%;
		text-align: center;
		margin-left: -4px;
		margin-right: -4px;
		line-height: 20px;
		padding-left: 3%;
		padding-right:  3%;
		vertical-align: top;
	}
