/* Main */

	html,body{
		width: 100%;
		height: 100%;
	}


/* Product */
	
	#main{
		position: absolute;
		top: 130px;
		width: 100%;
		height: 100%;
	}

	#main > div{
		display: inline-block;
	}

	#main p{
		margin-top: 2%;
		margin-bottom: 3%;
	}

	#main a:hover {
		background: black;
		color: white;
		cursor: pointer;
	}

	#main a.button{
		display:inline-block;
		font-size: 14px;
		border: 1px solid black;
		width: 230px;
		padding: 15px 0;
		text-align: center;
	}

	#main > img {
		display: inline-block;
		margin-top: 5%;
		vertical-align: top;
		top:0;
	}

/*ProductInformation*/

	#productInformation{
		vertical-align: top;
		margin-top: 5%;
	}

	#productInformation > *{
		display: block;
	}

	#onSale{
		font-size: 14px;
		color: #666666;
	}

/*ProductName*/
	#productName{
		font-weight: bolder;
		font-size: 1.1em;
	}

/* ProductPrice */

	#productPrice{
		display:inline-block;
		font-size: 14px;
		height: 25px;
		width: 230px;
		padding-bottom: 5px;
		border-bottom: 1px black solid;
		margin-bottom: 15px;
	}

/*Color*/

	#appearenceChoose{
		width: 230px;
		font-size: 14px;
	}
		#appearenceChoose div{
			display:inline-block;
		}

		#appearenceChoose div:nth-child(2){
			float: right;
		}

/* ProductColor */
	
	#productColor{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	#productColor > div{
		display: inline-block;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	

	#productColor > div > img{
		width: 30px;
		height: 30px;
		padding: 5px 6.5px 6.5px 5px;	
	}


/*Productquantity*/
	#productQuantity{
		margin-bottom: 3%;
	}

	#productQuantity a{
		display: inline-block;
		height: 25px;
		text-align: center;
		width: 4%;
		background: gray;
		vertical-align: top;
		cursor: pointer;
		line-height: 20px;
	}

	#productQuantity input{
		width: 10%;
		text-align: center;
	}

/* productSize */
	#productSize{
		/*text-align: left;*/
	}

	#productSize > a{
		display:inline-block;
		font-size: 14px;
		border: 1px solid black;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 1.5%;
		padding-bottom: 1.5%;
		margin-right: 1%;
		margin-bottom: 3%;
	}

/* RWD */

	@media only screen and (max-width: 800px) {
		#main{
			margin-left: 0px;
			text-align: center;
		}
			#main > img {

				margin-right: 0%;
			}

		#productName{
			text-align: center;
		}

		#productColor{
			width: 100%;
			padding: 0 10%;
		}

		#appearenceChoose{
			width: 100%;
			padding-left: 15%; 
			padding-right: 15%; 
		}

			#appearenceChoose div:first-child{
				float: left;
			}

			#appearenceChoose div:last-child{
				float: right;
			}

		#productInformation > a:nth-child(9){
			width: 40%;
		}

		#productInformation > a:nth-child(10){
			width: 40%;
		}
	}

	@media only screen and (min-width: 800px) {

		#main{
			margin-left: 20%;
		}
			#main > img {
				display: inline-block;
				margin-right: 5%;
			}
		#productColor{
			width: 70%;
		}
	}
