/* Main */

	html,body{
		width: 100%;
		height: 100%;
	}


/* Product */
	
	#main{
		position: absolute;
		top: 130px;
		width: 100%;
		height: 100%;
		margin-left: 20%;
		margin-right: 20%;
	}

	#main > div{
		display: inline-block;
	}

	#main p{
		margin-top: 2%;
		margin-bottom: 3%;
	}

	#main a:hover {
		background: black;
		color: white;
		cursor: pointer;
	}

	#main a.button{
		display:inline-block;
		font-size: 14px;
		border: 1px solid black;
		width: 230px;
		padding: 15px 0;
		text-align: center;
	}

	#main > img {
		display: inline-block;
		width : 30%;
		margin-right: 100px;
	}

/*ProductInformation*/

	#productInformation{
		width: 30%;
		vertical-align: top;
		margin-top: 10%;
	}

	#productInformation > *{
		display: block;
	}

	#onSale{
		font-size: 14px;
		color: #666666;
	}

/*ProductName*/
	#productName{
		font-weight: bolder;
		font-size: 1.1em;
	}

/* ProductPrice */

	#productPrice{
		display:inline-block;
		font-size: 14px;
		height: 25px;
		width: 230px;
		padding-bottom: 5px;
		border-bottom: 1px black solid;
		margin-bottom: 15px;
	}

/*Color*/

	#appearenceChoose{
		width: 230px;
		font-size: 14px;
	}
		#appearenceChoose div{
			display:inline-block;
		}

		#appearenceChoose div:nth-child(2){
			float: right;
		}

/* ProductColor */

	#productColor > img{
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		margin-top: 5%;
		margin-bottom: 3%;
	}


/*Productquantity*/
	#productQuantity{
		margin-bottom: 3%;
	}

	#productQuantity a{
		display: inline-block;
		height: 25px;
		text-align: center;
		width: 4%;
		background: gray;
		vertical-align: top;
		cursor: pointer;
		line-height: 20px;
	}

	#productQuantity input{
		width: 10%;
		text-align: center;
	}

/* productSize */

	#productSize > a{
		display:inline-block;
		font-size: 14px;
		border: 1px solid black;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 1.5%;
		padding-bottom: 1.5%;
		margin-right: 1%;
		margin-bottom: 3%;
	}