
/* Main */

	html,body{
		width: 100%;
	}

	#main{
		position: absolute;
		display: block;
		top: 130px;
		margin-top: 5%;
		width: 100%;
		height: 100%;
	}
		#main>div:nth-child(1){
			width: 100%;
			text-align: center;
		}

		#main>div:nth-child(1)>div:nth-child(1){
			margin-bottom: 0.7%;
		}

		#main>div:nth-child(1)>div:nth-child(2){
			text-align: center;
			margin-bottom: 2%;
			color: red;
			font-size: 18px;
			font-weight: bold;
		}

	#title{
		padding-left: 0%;
		font-size: 0px;
	}

			#title>span{
				display: inline-block;
				width: 6.2%;
				font-size: 14px;
			}
				#title>span:nth-child(1){
					padding-left:0%;
					width: 15%;
					text-align: left;
				}

				#title>span:nth-child(2){
					text-align: center;
					width: 10%;
				}

				#title>span:nth-child(3){
					width: 12.0%;
					text-align: center;
				}


#favoriteItem{
	padding-left:25.0%;
	width: 100%;
	height: 100%;
}

	#favoriteItem>div{
		height: 30%;
		font-size: 0px;
	}

		#favoriteItem>div>a>div:nth-child(1)>img{
			float: left;
			cursor: pointer;
			height: 60%;
			width: 10%;
		}

		#favoriteItem>div>div:nth-child(2){
			float: right;
			width: 84.5%;
			height: 80%;
		}

		#favoriteItem>div>div:nth-child(2)>span:first-child{
			text-align: center;
			font-size: 16px;
			display: inline-block;
			width: 7.6%;
			padding-top: 10%;
		}

		#favoriteItem>div>div:nth-child(2)>span:nth-child(2){
			text-align: center;
			font-size: 16px;
			display: inline-block;
			width: 25.6%;
			padding-top: 10%;
			padding-left : 2.5%;
		}

		#favoriteItem>div>div:nth-child(2)>span:nth-child(3){
			text-align: center;
			font-size: 16px;
			display: inline-block;
			width: 10.6%;
			padding-top: 10%;
			padding-right: 5%;
		}

		#favoriteItem>div>div:nth-child(2)>span:nth-child(4){
			text-align: center;
			font-size: 16px;
			display: inline-block;
			width: 10.6%;
			padding-top: 10%;
			padding-right: 7%;
		}

		#favoriteItem>div>div:nth-child(2)>span:nth-child(5){
			text-align: center;
			font-size: 16px;
			display: inline-block;
			width: 5.6%;
			padding-top: 10%;
			padding-right: 10%;
		}

		#favoriteItem>div>div:nth-child(2)>span:nth-child(6)>img{
			cursor: pointer;
		}
