
#main{
	display: block;
	position: absolute;
	top: 140px;
	width: 100%;
	text-align: center;
	margin-bottom: 3%;
}
	#main > img{
		width: 80%;
	}


#detail{
	margin: 15px 10% 0px 10% ;
	text-align: center;
}

	#detail > div{
		display: block;
		background-color: #F7F6F3;
		padding-top:15px;
		padding-bottom:15px;
	}

	#detail > div:nth-child(1){
		display: block;
		font-weight: bold;
		margin-bottom: 15px;
		background-color: white;
	}

		#detail > div > span{
			display: inline-block;
		}
 
		#detail > div > span:nth-child(1){
			width: 10%;
		}		

		#detail > div > span:nth-child(2){
			width: 40%;
		}
		
		#detail > div > span:nth-child(3){
			width: 10%;
		}
		
		#detail > div > span:nth-child(4){
			width: 10%;
		}

		#detail > div > span:nth-child(5){
			width: 10%;
		}


#littleCount{
	display: block;
	margin: 15px 10% 0px 10% ;
	text-align: right;
}

	#littleCount div{
		display: inline-block;
		margin-left: 50px;
	}


#payment{
	display: block;
	margin: 15px 10% 0px 10% ;
}

	#payment > p{
		background-color: black;
		color: white;
		text-align: left;
		padding: 9px 10px 7px 10px;
		font-weight: bold;
	}
	
	#payment > div{
		background-color: #F7F6F3;
		padding: 10px 0% 10px 12%;
		text-align: left;
	}
		#payment > div > p {
			display: inline-block;
		}

		#payment > div > p:first-child {
			margin-right: 35px;
		}



#information{
	display: block;
	margin: 0px 10% 0px 10% ;
	border: 1px #ccc solid;
}

	#information > p:first-child{
		background-color: black;
		color: white;
		text-align: left;
		padding: 9px 10px 7px 10px;
		font-weight: bold;
	}

	#information > div{
		display: block;
		text-align: left;
		padding: 20px;
	    background-color: #F7F6F3;
	}

	#information > div > *{
		display: inline-block;
	}

		#information > div > p:first-child {
			width: 16%;
			vertical-align: top;
	    	top: 0;
			text-align: right;
			margin-right: 35px;
			margin-top: 5px;
		}

	#information input{
		border-radius: 5px;
		width: 40%;
		padding: 3px 7px;
		height: 34px;
		font-size: 15px;
		border: 1px solid #ccc;
	}

	#information textarea{
		width: 50%;
		border-radius: 5px;
		text-align: start;
		font-size: 15px;
		padding: 10px 7px;
		line-height: 10px;
		height: 100px;
		border: 1px solid #ccc;
	}

#functionButton{
	display: block;
	margin-top: 25px;
}

#functionButton a{
	border: 1px black solid;
	padding: 5px 60px;
	border-radius: 3px;
}

	#functionButton a:hover {
		background-color: black;
		color: white;
	}