html,body{
	width: 100%;
	height: 100%;
}


/* Main */

	#main{
		display: block;
		position: absolute;
		top: 270px;
		width: 50%;
		margin-left: 25%;
		margin-right: 25%;
		text-align: center;
	}

	div input{
		font-size: 20px;
		border-radius: 10px;
		padding: 10px;
	}

/* Login */

	#loginTitle{
		padding: 10px 0px 10px 0px ;
		border-radius: 5px;
		display: inline-block;
		background-color: black;
		width: 26%;
		font-size: 25px;
		letter-spacing: 10px;
		cursor: pointer;
		color: white;
	}

	#login{
		margin-top: 30px;
	}

		#login input{
			width: 45%;
		}


		#login div{
			padding: 30px;
		}

		#login input[name=loginPassword]{
			margin-bottom: 20px;
		}

		#login a{
			border-radius: 5px;
			font-size: 20px;
			padding: 7px 50px 7px 50px;
			color: white;
			background-color: black;
		}


/* Register */

	#registerTitle{
		background-color: #666666;
		padding: 10px 0px 10px 0px ;
		border-radius: 5px;
		display: inline-block;
		width: 26%;
		font-size: 25px;
		letter-spacing: 10px;
		cursor: pointer;
		color: white;
	}

	#register{
		width: 100%;
		margin-top: 30px;
		display: none;
	}

		#register input{
			width: 45%;
		}

		#register input[name=registerAddress]{
			margin-bottom: 30px;
		}

		#register div{
			padding: 10px;
		}

		#register a{
			border-radius: 5px;
			font-size: 20px;
			padding: 7px 50px 7px 50px;
			color: white;
			background-color: black;
		}

/* Status */

	#status{
		visibility: hidden;
		width: 100%;
		font-size: 14px;
		margin-top: 5%;
		padding: 0% , 20px;
	    -webkit-transition: opacity 5s ease-in-out; /* For Safari 3.1 to 6.0 */
	    transition: opacity 5s ease-in-out;	
	    text-align: center;
	}

	#status p{
		display: block;
		width: 30%;
		color: black;
		background-color: #ff6666;
		padding: 20px 15px;
		margin: 0% 35%;
		border-radius: 5px;
	}
