
/* Main */

	#main{
		display: block;
		position: absolute;
		top: 150px;
		margin-left: 13%;
		margin-right: 13%;
		text-align: center;
	}

	#product{
		display: inline-block;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 5px;
	}

	#productName{
		padding-bottom: 7px;
		text-align: left;
	}

	#productPrice {
		margin-bottom: 8px;
		text-align: left;		
	}

	#productPrice>div:nth-child(1){
		display: inline-block;
		margin-right: 10px;
		font-size: 15px;
	}

	#productPrice>div:nth-child(2){
		display: inline-block;
		margin-left: 15px;
		color: red; 
	}

	#productSize{
		text-align: right;
		margin-right: 30px;
	}

		#productSize a{
			color: black;
			border: 1px solid black;
			margin-left: 4px;
			padding-left: 2px;
			padding-right: 2px;
			font-size: 15px;
		}
		
		#productSize a:hover{
			color: white;
			background-color: black;
		}

/*	@media only screen and (max-width: 800px) {
		.image{
			display: block;
			width: 50%;
			margin-bottom: 10px;
		}
	}

	@media only screen and (min-width: 800px) {
		.image{
			display: block;
			height: 100%;
			width: 100%;
			margin-bottom: 10px;
		}
	}*/

	.image{
		display: block;
		width: 100%;
		height: 100%;
		margin-bottom: 10px;
	}

	.deletePrice div:nth-child(1){
		text-decoration:line-through;
	}
