
/* Main */

	#main{
		display: block;
		position: absolute;
		top: 130px;
		margin-left: 13%;
		margin-right: 13%;
	}

	#product{
		display: inline-block;
	}

	#productName{
		padding-bottom: 7px;
	}

	#productPrice>div:nth-child(1){
		display: inline-block;
		margin-right: 10px;
		font-size: 15px;
	}

	#productPrice>div:nth-child(2){
		display: inline-block;
		float: right;
		padding-right: 50%;
		color: red; 
	}

	#productSize{
		text-align: right;
	}

		#productSize a{
			color: black;
			border: 1px solid black;
			margin-left: 4px;
			padding-left: 2px;
			padding-right: 2px;
			font-size: 15px;
		}
		
		#productSize a:hover{
			color: white;
			background-color: black;
		}

	.image{

		display: block;
		width: 100%;
		height: 100%;
		margin-bottom: 10px;
	}

	.deletePrice div:nth-child(1){
		text-decoration:line-through;
	}
