#main{
	position: absolute;
	margin-top: 15px;
	margin-left: 22%;
	width:56%;
	background-color: white;
	border:1px solid rgb(222, 228, 237);
	box-shadow: 2px 2px 8px rgba(200,200,200,0.6);
}

#order{
	width: 100%;
	height:100%;
}
	#order > div{
		height:100px;
		line-height: 100px;
		font-size: 0px;
		overflow: hidden;
	}

		#order >div >span{
			display: inline-block;
			width: 15%;
			font-size: 18px;
			text-align: center;
			vertical-align: top;
			top: 0;
			overflow: hidden;
		}

		#order > div > div{
			margin-top: 34px;
			display: inline-block;
			float: right;
			margin-right: 5%;
			height: 32px;
			width: 15%;
			border:1px solid grey;
			border-radius: 5px;
			background-color: white;
			box-shadow: 2px 2px 2px rgba(200,200,200,0.6);
			text-align: center;
		}

		#order > div > div > a{
			display: block;
			height:20px;
			line-height: 20px;
			margin-top: 6px;
			color: grey;
			font-size: 17px;
		}

	#order > div:first-child{
		height:40px;
		line-height: 40px;
		font-weight: bold;
	}

	#order > div:first-child > span{
		float:left;
		width:8%;
		margin-left: 7%;
		height:40px;
		line-height: 40px;
		font-weight: bold;
		text-align: left;
	}

	#order > div:nth-child(odd){
		background-color: white;
	}

	#order > div:nth-child(even){
		background-color: #F7F6F3;
	}
