
#main{
	display: block;
	position: absolute;
	top: 140px;
	width: 100%;
	height: 60%;
	text-align: center;
}
	#main > img{
		width: 80%;
	}

	#main > div:nth-child(2){
		margin-bottom: 15%;
	}

#detail{
	margin: 15px 10% 0px 10% ;
	text-align: center;
}

	#detail > div{
		display: block;
		background-color: #F7F6F3;
		padding-top:15px;
		padding-bottom:15px;
	}

	#detail > div:nth-child(1){
		display: block;
		font-weight: bold;
		margin-bottom: 15px;
		background-color: white;
	}

		#detail > div > span{
			display: inline-block;
		}
 
		#detail > div > span:nth-child(1){
			width: 10%;
		}		

		#detail > div > span:nth-child(2){
			width: 40%;
		}
		
		#detail > div > span:nth-child(3){
			width: 10%;
		}
		
		#detail > div > span:nth-child(4){
			width: 10%;
		}

		#detail > div > span:nth-child(5){
			width: 10%;
		}

#littleCount{
	display: block;
	margin: 20px 10%; 
	text-align: right;
}

#before{
	position: fixed;
	bottom: 0;
	left: 15%;
	bottom: 1%;
	cursor: pointer;
}

#next{
	position: fixed;
	bottom: 0;
	right: 15%;
	bottom: 1%;
	cursor: pointer;
}

#pay {
	padding-top: 20px;
	margin-left: 25%;
	margin-right: 25%;
	height: 12%;
	width: 50%;
	border: 2px #666 solid;
	background-color: white;
	z-index: 1;
	position: fixed;
	bottom: 0;
}

	#pay > div {
		margin-bottom: 20px;
	}

		#pay > div > * {
			display: inline-block;
			width: 20%;
		}

		#pay > div > p{
			font-weight: bold;
		}

		#pay >div >div{
			font-size: 20px;
			color: red;
		}

	#pay > div > select{
		background-color: black;
		color: white;
		overflow: hidden;
		-webkit-border-radius: 20px;
	    -moz-border-radius: 20px;
	    border-radius: 20px;
		height: 29px;
		width: 20%;
		text-align-last: center;
	} 

.redColor{
	color: red;
}