
/* Main */
	
	html,body{
		width: 100%;
	}
	
	#main{
		position: absolute;
		top:130px;
		margin-top: 5%;
		width: 100%;
		text-align: center;
	}

		#title span{
			display: inline-block;
			width: 10%;
		}

		#item{
			height: 20%;
		}

		#item img {
			height: 20%;
		}

		#item span{
			vertical-align: top;
			display: inline-block;
			height: 450px;
			line-height: 450px;
			text-align: center;
		}
